<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>OSINT Dashboard</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      {% block content %}{% endblock %}
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
  <script>
    $("#twitterCrawl").click(function() {
    $.get("output.html", function(data) {
        $("#scriptOutput").html(data);
    }, "html");
});
</script>
<script>
  $(document).ready(function(){
  $("#facebookCrawl").click(function(){
      $.ajax({
          method: "GET",
          url: "twitterCrawl.py",
          dataType: "text",
          success: function(result){
              let data=JSON.parse(result);
              console.log(result);
          }
      });
  });});
</script>
</body>
</html>