{% extends "demo/base_generic.html" %}

{% block content %}
    <div class="col-4">
        <h1>Dashboard</h1>
        <p>Welcome to IIT's very own OSINT Dashboard! We offer Facebook, Twitter, and Web Crawlers lookups.</p>
        <h3>Get Started</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="keywordSearch" aria-describedby="keywordHelp" placeholder="Keyword">
                <small id="keywordHelp" class="form-text text-muted">Enter in the keyword and click on a button to initiate a search.</small>
            </div>
            <div>
                <button type="button" class="btn btn-danger">Web Crawler</button>
                <button type="button" class="btn btn-primary" disabled>Facebook</button>
                <button type="button" class="btn btn-success" disabled>Twitter</button>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="row">
            <div class="tableHeader">
                <div class="queryTitle"><h1>Query Results</h1></div>
                <div class="queryCount">Items: {{ num_results }}</div>
            <div style="clear:both"></div>
            </div>

  {% if raw_data %}
      <table class="table table-dark table-hover table-sm">
      <thead class="">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Created On</th>
            <th scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for weblink in raw_data %}
            <tr>
                <th scope="row">{{ weblink.id }}</th>
                <td><a href="{{ weblink.url }}">{{ weblink.title }}</a></td>
                <td>{{ weblink.created }}</td>
                <td>{{ weblink.updated }}</td>
            </tr>
        {% endfor %}
      </tbody>
      </table>
  {% else %}
    <p>There is no data in the database.</p>
  {% endif %}
    </div></div>
{% endblock %}